.micro-frontend-container {
    width: 100%;
    min-height: calc(100vh - 200px);
    position: relative;
}

.micro-frontend-iframe {
    width: 100%;
    min-height: calc(100vh - 100px);
    height: 100%;
    border: none;
    display: block;
    background: #0f0f1e;
}